.rcw-input {
  overflow-y: hidden;
  word-wrap: break-word;
  max-width: 224px;
}

.rcw-close-launcher {
  padding-block-start: 8px;
}

.rcw-picker-btn {
  /* hide broken emoji picker button */
  opacity: 0;
  z-index: -99;
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    max-height: clamp(55vh, 100%, 100vh);
  }
  .rcw-conversation-container .rcw-close-button {
    padding: 0;
    top: 60px;
  }
  .rcw-widget-container {
    max-height: clamp(45vh, 65vh - 60px, 100vh);
    align-items: flex-start;
    justify-content: flex-end;
  }
}