.rcw-input {
  overflow-y: hidden;
  word-wrap: break-word;
  max-width: 224px;
}


.rcw-close-launcher {
  padding-block-start: 8px;
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container .rcw-close-button {
    padding: 0;
    top: 60px;
    max-height: 100%;
  }
  .rcw-widget-container {
    align-items: flex-start;
    justify-content: flex-end;
  }
}