#chat-widget {
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9999;
  max-height: 100%;
  width: 100vw;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #121212;
}
